.wrapper {
  display: grid;
  gap: 30px;
}

.contactFormBlock {
  border: 1px solid;
  padding: 15px;
}
.conactFormGroup {
  display: grid;
  gap: 15px;
  margin-bottom: 5px;
  font-size: 25px;
}

.input {
  margin-bottom: 30px;
  font-size: 30px;
}
.btnAddContact {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
